.OrderButton {
    background-color: #DAA520;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
    margin-top: -10px;
    border-radius: 15px;
    transition: background-color 0.3s;
}